:root {
  --background-color: #ffffff;
  --meta-color: #909090;
  --border-color: #d0d0d0;
  --hljs-background-color: #2e3440;
  --hljs-color: #d8dee9;
}

html {
  max-width: 900px;
  margin: auto;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: auto;
  padding: 0;
}

code {
  background-color: var(--hljs-background-color);
  border-radius: 3px;
  color: var(--hljs-color);
  font-family: "Noto Sans Mono", monospace;
  padding: 0 5px;
}

img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

table {
  border-collapse: collapse;

  & thead {
    & th {
      border-top: solid 1px;
      border-bottom: solid 1px;
      padding: 8px;
    }

    & th:not(:first-child) {
      border-left: solid 1px;
    }
  }

  & tbody {
    & td {
      border-bottom: dashed 1px;
      padding: 5px 10px;
    }

    & td:not(:first-child) {
      border-left: solid 1px;
    }
  }
}

.main {
  padding: 0px 20px;
}

.index li {
  border-bottom: 1px dashed;
  border-color: var(--border-color);
  margin: 10px 0 10px 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0 100px;
}

.terms {
  padding: 0;

  & li {
    margin: 0 10px 0 10px;
  }
}

.header {
  background-color: var(--background-color);
  border-bottom: 1px solid;
  border-color: var(--border-color);
  line-height: 20px;
  padding: 15px 20px;
  position: sticky;
  top: 0;
}

.header-logo a {
  font-size: 18px;
  font-weight: bold;
}

.header-menu a {
  margin-left: 20px;
}

.footer {
  background-color: var(--background-color);
  border-top: 1px solid;
  border-color: var(--border-color);
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.no-padding {
  padding: 0;
}

.list-none {
  list-style: none;
}

.no-decoration a {
  color: black;
  text-decoration: none;
}

.metadata {
  color: var(--meta-color);
}

.not-found {
  font-size: 42px;
  font-weight: bold;
  padding: 100px 0;
  text-align: center;
}
