{{- define "main" }}
  {{- $title := .Title -}}
  {{- $pages := .Pages -}}
  {{- $flex := "" -}}
  {{- $summary := false -}}
  {{- if .IsHome }}
    {{- $title = site.Title -}}
    {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{- $flex = "flex-column" -}}
    {{- $summary = true -}}
  {{- end }}
  {{- $paginator := .Paginate $pages }}

  <h1>{{ $title }}</h1>
  {{ if .IsHome -}}
    <h3>{{ site.Params.description }}</h3>
  {{- end }}

  <ol class="index list-none no-padding">
    {{- range $paginator.Pages }}
      <li class="{{ $flex }}">
        <time class="metadata" datetime="{{ .Date }}">
          {{- .Date | time.Format (default "2006/01/02" site.Params.DateFormat) -}}
        </time>
        <a href="{{ .Permalink | relURL }}">
          {{- .Title -}}
        </a>
        {{ if $summary }}
          {{ .Summary }}
        {{ end }}
      </li>
    {{- end }}
  </ol>
  {{ template "_internal/pagination.html" . }}
{{- end }}